.department-grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(280px,1fr));

gap:25px;

margin-top:30px;

}



.department-card{


background:white;

border-radius:18px;

padding:25px;

box-shadow:
0 10px 25px rgba(0,0,0,0.08);

transition:.3s;

border:1px solid #f3d6e4;


}



.department-card:hover{

transform:translateY(-5px);

box-shadow:
0 15px 35px rgba(0,0,0,0.12);

}




.dept-icon{

width:55px;

height:55px;

border-radius:15px;

display:flex;

align-items:center;

justify-content:center;

background:#f8d3e4;

color:#b21f5d;

font-size:25px;

margin-bottom:18px;

}




.dept-info h3{

font-size:20px;

color:#333;

margin-bottom:15px;

}




.dept-info p{

font-size:14px;

color:#777;

margin:8px 0;

}



.dept-info span{

display:block;

font-weight:600;

color:#333;

margin-top:3px;

}





.dept-footer{

display:flex;

justify-content:space-between;

align-items:center;

margin-top:20px;

padding-top:15px;

border-top:1px solid #eee;

}




.members{

display:flex;

align-items:center;

gap:8px;

font-size:14px;

color:#b21f5d;

font-weight:600;

}





.delete-dept{


border:none;

background:#ffe1e8;

color:#d6285c;

width:35px;

height:35px;

border-radius:10px;

cursor:pointer;

font-size:15px;

transition:.2s;

}



.delete-dept:hover{

background:#d6285c;

color:white;

}